.chatPage{
    height: 100vh;
    width: 100vw;
    background-color: #1c1818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatContainer{
    height: 60%;
    width: 50%;
    background-color: white;
}

.header{
    background-color: #55469b;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoDiv{
    display: flex;
    margin: 1vmax;
    align-items: center;
}

.header h2{
    color: white;
}

.header img{
    width: 2vmax;
    margin: 1vmax;
    transition: 0.3s all;
    cursor: pointer;
}

.header img:hover{
    transform: scale(1.2);
}

.chatBox{
    height: 70%;
    box-sizing: border-box;
    overflow-y: auto;
}

.inputBox{
    height: 15%;
    display: flex;
    box-shadow: 0 0 20px -0cqmin #1c1818;
}

#chatInput{
    width: 80%;
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 1.5vmax;
    box-sizing: border-box;
    font-size: 1.2vmax;
    font-family: "Roboto";
}

.sendbtn{
    background-color: #55469b;
    color: white;
    width: 20%;
    border-radius: 0;
    border: none;
    font-size: 1.2vmax;
    font-family: "Roboto";
    transition: all 0.25s;
}

.sendbtn img{
    height: 85%;
    transition: 0.3s all;
}

.sendbtn:hover img{
   transform: translateX(10px);
}

.sendbtn:hover{
    background-color: #6557a7;
}